**/log/
**/logs/
**/*.log*
/client/games
start*
/client/resources/sources
/client/resources/activeclient
version

/issues
/clients
/*.zip
/*.jar
/softwarechallenge-tools/*.jar

/evolution*

**/.idea/workspace.xml
**/.idea/libraries
