**/log/
**/logs/
**/*.log*
/client/games
start*
/client/resources/sources
/client/resources/activeclient
/client/resources/version

/clients
/*.zip

/evolution

**/.idea/workspace.xml
**/.idea/libraries
